
*{
    font-size: 20px;
}



.div-styling{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-styling{
    /* padding: 20px 15px; */
    width: 38%;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.heading{
    font-size: 35px;
    font-weight: 600;
    background-color: #EEF0F1;
    margin: 0px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.inner{
 padding: 20px 15px;
}

.input-div{
    width: 100%;
    margin: 15px 0px;
}

.input{
    width: 100%;
    border-radius: 6px;
    border: 0px solid black;
    height: 35px;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    background: transparent;
    transition: border-color 0.2s;
}


.btn{
    background-color: #564ff2;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    padding: 11px;
    
}

.success{
    color: green;
    margin: 10px 0px;
}